.container
  .jumbotron
    h1 my MEAN app
    p A word from our sponsors.

  .row
    .col-md-6
      div(ng-include="'/partials/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/new-courses'")

